name: Build and Release

on:
  push:
    branches:
      - main
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  release:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macos-latest, windows-latest]

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Build
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        shell: bash
        run: |
          if [[ $GITHUB_REF == refs/tags/* ]]; then
            npm run build -- --publish always
          else
            npm run build -- --publish never
          fi

      - name: Publish Release
        if: startsWith(github.ref, 'refs/tags/')
        shell: bash
        run: gh release edit ${GITHUB_REF#refs/tags/} --draft=false
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

